.endGamePopupContainer{
    text-align: center;
}

#popup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */

}

.endGamePopupContent{
    position: relative;
    background-color: #3498db;
    margin: auto;
    top:33%;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.4);
    animation-name: animatetop;
    transition: 400ms ease-out;
    animation-duration:500ms;
    height:50%;
    min-width: 680px;
    min-height: 450px;
    max-height:500px;
    border-radius:10px 10px;
    font-family:roboto;
}
.endGamePopupHeader{
    display:none;
    justify-content:center;
    flex-direction: row;
    align-items:center;
    position:relative;
    overflow: hidden;
    border-radius:8px 8px 0 0;
    width:100%;
    height:5%;
    padding:34px;
    background-color:#303F9F;
    color:white;
    font-size:1.5em;
}

.endGamePopupBody{
    text-align: center;
    color:white;
}

#replay-button{
    color: white;
    background-color: #303F9F; /* Red */
    border-radius: 4px;
    border: none;
    border: 2px solid #303F9F ;
    font-size:200%;
    margin-top:50px;
}

#replay-button:hover{
    border: 2px solid #303F9F;
    background-color: white; /* Green */
    color: #303F9F;

}

#endGameStats{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#myStatHeader{
    font-weight: bold;
    text-decoration: underline;
    margin-top:10px;
    color:#303F9F;
    font-size:200%;
    margin-bottom:5px;
}

#algoStatHeader{
    font-weight: bold;
    font-size:200%;
    text-decoration: underline;
    margin-top:10px;
    margin-bottom:5px;
    color:#303F9F;
}

#winner{
    margin:5px;
    margin-top: 15px;
    font-weight: bold;
    font-size:220%;
}

.myStatsInfo{
    margin-right:30px;
    font-size:120%;
}

.algoStatsInfo{
    margin-left:30px;
    font-size:120%;
}