
#topBar {
    z-index: 200;
    height: 200px;
    background-color: #303F9F;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: #ffffff;

}

#topBar::after {
    display: inline-block;
    position: absolute;
    top: 100%;
    content: '';
    height: 30%;
    width: 100%;

}

.topBarItemFirstRow {
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 30px;
}

#topBarFirstRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

}